<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<select id="checkId" parameterType="string" resultType="_int">
		select count(member_id) from tbl_member where member_id = #{memberId}
	</select>
	
	<insert id="join" parameterType="memberVO">
		insert into tbl_member
		(member_id, member_pw, member_name, member_age, member_gender, member_email, member_zipcode, member_address, member_address_detail)
		values(#{memberId}, #{memberPw}, #{memberName}, #{memberAge}, #{memberGender}, #{memberEmail}, #{memberZipcode}, #{memberAddress}, #{memberAddressDetail})
	</insert>
	
	<select id="login" parameterType="memberVO" resultType="_int">
		select member_number from tbl_member where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
</mapper>





















