<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>day01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Hds</servlet-name>
		<servlet-class>com.koreait.app.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hds</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>


	<!-- 선언 -->
	<servlet>
		<servlet-name>Oper</servlet-name> <!-- 변수명 -->
		<servlet-class>com.koreait.app.Oper</servlet-class>
	</servlet>

	<!-- 사용 -->
	<servlet-mapping>
		<servlet-name>Oper</servlet-name>
		<url-pattern>/oper</url-pattern>   <!-- html파일의 a태그 href -->
	</servlet-mapping>


	<servlet>
		<servlet-name>Calc</servlet-name>
		<jsp-file>/calc.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Calc</servlet-name>
		<url-pattern>/calc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Yeob</servlet-name>
		<servlet-class>com.koreait.app.YeobSer</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Yeob</servlet-name>
		<url-pattern>/euiyeob</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Yeob1</servlet-name>
		<servlet-class>com.koreait.app.Yoby</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Yeob1</servlet-name>
		<url-pattern>/yoby</url-pattern>
	</servlet-mapping>




</web-app>
